!! Display settings (HiDPI)
Xft.dpi: 220
!Xft.dpi: 180
!Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 64
Xcursor*theme: DMZ-White

XTerm*faceName: Bitstream Vera Serif Mono
xterm*faceSize: 14
xterm*vt100*geometry: 80x60
xterm*saveLines: 16384
xterm*loginShell: true
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false

!*foreground: #00cc00
*foreground_bold: #a8a19f
!! this coursor value causes problems to Python3 windows in i3wm
!! *cursor: #a8a19f
*background:       #1b1918
!!*background: rgba(0, 0, 0, .7)
!
!#A9B7C6
!#define _foreground    #dcdccc
#define _foreground    #A9B7C6
#define _background    #262626
XTerm*foreground     : _foreground
XTerm*background     : _background

!! black
*color0: #1b1918
*color8: #766e6b
!! red
*color1: #f22c40
*color9: #f22c40
!! green
*color2: #5ab738
*color10: #5ab738
!! yellow
*color3: #d5911a
*color11: #d5911a
!! blue
*color4: #407ee7
*color12: #407ee7
!! magenta
*color5: #6666ea
*color13: #6666ea
!! cyan
*color6: #00ad9c
*color14: #00ad9c
!! white
*color7: #a8a19f
*color15: #f1efee

URxvt.intensityStyles:	false
URxvt.background:       [70]#000000
URxvt.depth:		32
URxvt.font: 		xft:monospace:size=11
URxvt.scrollBar:	false
URxvt.cursorColor:	white

!! Extensions
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:		#4682B4
!! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
!! Matcher
URxvt.url-launcher:	linkhandler
URxvt.matcher.button:	1

rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #819396, #222, #008ed4, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:	#002b37, #da4281, #003643, #008ed4, #890661

rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width:		30

!------------------------------------------------------------------------------
!! rofi -dump-Xresources
!! ROFI Color theme
!! ------------------------------------------------------------------------------
!rofi.color-enabled: true
!rofi.color-window: #111111, #0088cc, #222222
!rofi.color-normal: #151515, #ffffff, #151515, #0088cc, #ffffff
!rofi.color-active: #151515, #0088cc, #151515, #0088cc, #000000
!rofi.color-urgent: #151515, #dd0000, #151515, #bb0000, #ffffff
!rofi.separator-style: solid
!rofi.lines: 8
!rofi.width: 32
!rofi.fixed-num-lines: true



*vt100.translations: #override \n\
    Ctrl ~Shift <Key>Tab: string(0x1b) string("[27;5;9~") \n \
    Ctrl Shift <Key>Tab: string(0x1b) string("[27;6;9~") \n
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font()
